
<section layout="row" flex>
  <md-content flex="30">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Меню</h1>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-list-item ui-sref="users" ui-sref-active="active">
          Список пользователей
        </md-list-item>
        <md-list-item ui-sref="eventTypes" ui-sref-active="active">
          Список типов событий
        </md-list-item>
      </md-list>
    </md-content>
  </md-content>
  <md-content flex="70" ui-view="">

  </md-content>
</section>
