<div class="profile-page">
	<div class="profile-page-h">
		<div>
			<div class="profile-page-h-img">
			</div>
			<div class="profile-user-img">
				<div>
					<img src="{{user.imgSrc}}" alt="">
					<div class="photo-profile">
						<md-icon class="material-icons">photo_camera</md-icon>
					</div>
				</div>
			</div>
			<div class="profile-user-name">
				<h2>{{user.user.name}}</h2>
			</div>
		</div>
	</div>
</div>
<div class="user-profile-info">
	<md-content layout-padding>
		<div>
			<form layout="column">
				<div layout="column">
					<h1 class="md-title">Общая информация</h1>
					<div layout="row">
						<md-input-container flex="20">
					        <label>Пол</label>
					        <md-select ng-model="me.user.gender">
					          <md-option ng-repeat="gender in me.userInfo.gender" value="{{gender}}">
					          	{{gender}}
					          </md-option>
					        </md-select>
					    </md-input-container>
					    <div flex="5"></div>
					    <md-input-container flex="20">
					    	<label>Возраст</label>
					    	<input ng-model="me.user.age">
					    </md-input-container>
					</div>
					<div layout="row">
						 <md-input-container class="md-block" flex="47">
					        <label>Родной город</label>
					        <input ng-model="me.user.hometown">
				        </md-input-container>
				        <div flex="5"></div>
				        <md-input-container class="md-block" flex="47">
					        <label>Текущий город</label>
					        <input ng-model="me.user.currentCity">
				        </md-input-container>
					</div>
				</div>
				<div layout="column">
					<h1 class="md-title">Персональная информация</h1>
					<div layout-gt-xs="row">
						<md-input-container flex="30">
					        <label>Политические взгляды</label>
					        <md-select ng-model="me.user.politics">
					          <md-option ng-repeat="politic in me.userInfo.politcsViews" 
					          			 value="{{politic}}">
					          	{{politic}}
					          </md-option>
					        </md-select>
					    </md-input-container>
					    <div flex="5"></div>
					    <md-input-container flex="30">
					    	<label>Религиозные взгляды</label>
					    	<md-select ng-model="me.user.religion">
					    		<md-option 
						        	ng-repeat="religion in me.userInfo.religion" 
						        	value="{{religion}}">
						        	{{religion}}
						        </md-option>
					    	</md-select>
					    </md-input-container>
			        </div>
			        <div layout="row">
			        	<md-input-container flex="30">
					    	<label>Отношение к алкоголю</label>
					    	<md-select ng-model="me.user.alcohol">
					    		<md-option 
						        	ng-repeat="alcohol in me.userInfo.negative" 
						        	value="{{alcohol}}">
						        	{{alcohol}}
						        </md-option>
					    	</md-select>
					    </md-input-container>
					    <div flex="5"></div>
					    <md-input-container flex="30">
					    	<label>Отношение к курению</label>
					    	<md-select ng-model="me.user.smoking">
					    		<md-option 
						        	ng-repeat="smoking in me.userInfo.negative" 
						        	value="{{smoking}}">
						        	{{smoking}}
						        </md-option>
					    	</md-select>
					    </md-input-container>
			        </div>
			        <div layout="row">
			        	<md-input-container class="md-block" flex="100">
					        <label>Род занятий</label>
					        <textarea ng-model="me.user.job"></textarea>
				        </md-input-container>
			        </div>
			        <div layout="row">
			        	<md-input-container class="md-block" flex="100">
					        <label>О себе</label>
					        <textarea ng-model="me.user.info"></textarea>
				        </md-input-container>
			        </div>
			        <div layout="row" flex="100">
			        	<md-chips 
			        				placeholder="Нравиться в людях" 
			        				ng-model="me.user.positiveKeyWords"  
			        				flex="100">
			        	</md-chips>
			        </div>
				</div>
			</form>
		</div>
	</md-content>
</div>
