.profile-page-h{
	background: #fafafa;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.26);
    box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.26);
    margin: 0 auto;
    padding-bottom: 24px;
    position: relative;
    text-align: center;


    .profile-page-h-img{
    	min-height: 140px;
        background-size: cover;
    	background-image: url(https://lh3.googleusercontent.com/-ohlPUxOOUf0/UYFKropQKcI/AAAAAAAABik/eUblmdCg_5g/w728-h1600-rw/default_cover_7_b6a70e983e161747a6b43731672f0d01.jpg)
    }

    .profile-user-img{

    	img{
    		background-color: #fff;
		    border: 2px solid #fff;
		    border-radius: 50%;
		    height: 120px;
		    margin-top: -62px;
		    width: 120px;
		    cursor: pointer;
		    position: relative;

    	}

    	&>div{
    		display: inline-block;

    		&:hover{
				&>div{
					display: block;
				}
	    	}
    	}

    	
    }

    .profile-user-name{
    	padding-top: 16px;
    }

    .photo-profile{
    		display: none;
    	    background: rgba(0, 0, 0, 0.26);
		    cursor: pointer;
		    left: 50%;
		    position: absolute;
		    padding: 10px;
		    border-radius: 100%;
		    top: 50%;
		    justify-content: center;
		    transform: translate(-50%, -50%);
			margin-top: -10px;

    	.material-icons{
    	}
    }
}

.user-profile-info{
	background-color: #fafafa;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.26);
    box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.26);
    margin: 8px auto 0 auto;
    position: relative;
    -webkit-transition: all .12s ease-out;
    transition: all .12s ease-out;
    margin-bottom: 25px;
}

.user-profile-info{
    md-content{
        background: #fff;
    }
}