<div layout="row">
    <md-content flex="50">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Список типов событий</h1>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="type in types.eventTypes">
                    {{type.name}}
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
    <md-content flex="50">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Создание типа события</h1>
        </md-toolbar>
        <md-content>
            <form ng-submit="types.addEventType()">
                <div>
                    <md-input-container class="md-block">
                        <label>Название типа события</label>
                        <input ng-model="types.new_event.name" required>
                    </md-input-container>
                </div>
                <div>
                    <md-button class="md-raised" type="submit">Добавить</md-button>
                </div>
            </form>
        </md-content>
    </md-content>
</div>