
/**
 * App-wide Styles
 */

 @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
 }

 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
 }

body{
  overflow: hidden;
}
body, html{
  min-height: 100%;
  height: 100%;
}
#app-container{
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &>.content{
    flex-grow: 1;
    display: flex;
  }
}

md-sidenav{
  max-width: 600px;
  width: 35%;

  .md-toolbar-tools{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.event-card{
  md-card{
    margin: 0;

    img{
      border-radius: 0;
    }
  }
}

.event-buttons{
  position: absolute;
  display: flex;
  /* top: 5px; */
  bottom: -30px;
  right: 10px;
}

.event-pre-welcome{
  position: relative;
}
.md-sidenav-right{
  md-card-actions{
    margin-left: 0;
    margin-right: 0;
  }
  .md-3-line{
    display: flex;
    align-items: center;
    min-height: auto;
    transition: linear .2s all;
    padding: 0;

    &:hover{
      background-color: rgba(158,158,158,0.2);
    }

    a{
      display: flex;
      width: 100%;
      text-decoration: none;
      color: rgba(0,0,0,.87);
      transition: linear .2s all;
      padding: 10px 16px;

      h3{
        color: rgba(0, 0, 0, 0.87)
      }

      h4, p{
        color: rgb(63,81,181) !important;
      }
    }

    img{
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 50%;
    }
  }
}

.marker_info_window{
  display: flex;
  align-items: center;

  .img{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 15px;

    img{
      width: 100%;
    }
  }

  .marker_info{
    white-space: nowrap;
  }
}
navbar .fa{
  font-size: 18px;
}
.logo{
  width: 180px;
}
.info_window{
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
  }
.gm-bundled-control-on-bottom{
  left: 0!important;
}
.create-main.md-fab-bottom-right{
  bottom: 40px!important;
}

.cursor-default{
  cursor: default;
}
// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'admin/eventTypes/eventTypes.scss';
@import 'admin/users/users.scss';
@import 'main/main.scss';
@import 'user/me/me.scss';
@import 'user/myEvents/myEvents.scss';
@import 'user/myEventsDetail/myEventsDetail.scss';
@import 'user/user.scss';
@import '../components/footer/footer.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
