.event-detail{
	md-card{
		background: #ffffff;
	}

	img{
		flex-shrink: 0;
	}

	md-card-actions{
		margin: 0;
		md-list-item{
			&>a{
				display: flex;
				flex-grow: 1;
			}
		}
	}

	.author_message{
		flex-direction: row-reverse;

		.md-list-item-text{
			text-align: right;
		}

		img{
			margin-right: 0;
			margin-left: 16px;
		}
	}

	.chat-height{
		max-height: 600px;
		overflow-y: auto;
	}
}

