<div layout="row" class="event-detail">
  <div class="" flex="40">
    <md-card>
      <div class="event-pre-welcome">
        <img ng-src="http://www.fillmurray.com/400/200" class="md-card-image" alt="Washed Out">
        <div class="event-buttons">
          <md-fab-speed-dial ng-hide="event.hidden" md-direction="left" md-open="event.isOpen" class="md-scale" ng-class="{ 'md-hover-full': event.hover }"
            ng-mouseenter="event.isOpen=true" ng-mouseleave="event.isOpen=false">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-warn">
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Поделиться</md-tooltip>
                <md-icon class="material-icons" aria-label="menu">share</md-icon>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <div ng-repeat="item in event.items">
                <md-button aria-label="{{item.name}}" class="md-fab md-icon-button md-raised md-mini">
                  <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                    {{detail.eventdetail.name}}
                  </md-tooltip>
                  <md-icon class="{{item.icon}}" aria-label="{{item.name}}" style="margin-top: -5px;"></md-icon>
                </md-button>
              </div>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </div>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{detail.eventdetail.name}}</span>
          <span class="md-subhead">{{detail.eventdetail.formatted_address}}</span>
          <div>
            <span class="md-subhead">{{detail.eventdetail.date_start | date: 'dd-MM-yyyy'}}</span> -
            <span class="md-subhead">{{detail.eventdetail.date_end | date: 'dd-MM-yyyy'}}</span>
          </div>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{detail.eventdetail.info}}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-list-item class="md-3-line">
          <a href="">
            <img ng-src="{{detail.imgSrc}}" class="md-avatar" alt="">
            <div class="md-list-item-text">
              <h3>Инициатор события</h3>
              <h4>{{detail.eventdetail.user.name}}</h4>
            </div>
          </a>
        </md-list-item>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Участники</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list ng-show="confirmedUsers.length">
          <md-list-item class="" ng-repeat="user in confirmedUsers = (detail.users | filter:{status: true})">
            <a href="" layout="row">
              <img ng-src="{{detail.imgSrc}}" class="md-avatar" alt="">
              <div class="md-list-item-text">
                <h4>{{user.user.name}}</h4>
              </div>
            </a>
            <md-button class="md-fab md-primary md-secondary md-warn" aria-label="More" ng-click="detail.acceptUser(user)" ng-if="detail.userStatus.status == 'creator'">
              <md-icon class="material-icons">clear</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
        <md-list ng-show="!confirmedUsers.length">
          <md-list-item>
            <p>Этот список пуст.</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Потенциальные учасники</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list ng-show="unconfirmedUsers.length">
          <md-list-item class="" ng-repeat="user in unconfirmedUsers = (detail.users | filter:{status: false})">
            <a href="" layout="row">
              <img ng-src="{{detail.imgSrc}}" class="md-avatar" alt="">
              <div class="md-list-item-text">
                <h4>{{user.user.name}}</h4>
              </div>
            </a>
            <md-button class="md-fab md-primary md-secondary" aria-label="More" ng-click="detail.acceptUser(user)" ng-if="detail.userStatus.status == 'creator'">
              <md-icon class="material-icons">add</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
        <md-list ng-show="!unconfirmedUsers.length">
          <md-list-item>
            <p>Этот список пуст.</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <div flex-offset="5" flex="55" ng-if="detail.userStatus.status == 'creator' || detail.userStatus.status == 'confirmed'">
    <md-card class="">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Чат</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list class="md-dense chat-height" flex scroll-down>
          <md-list-item ng-class="{'author_message' : detail.currentUser._id == message.user._id}" ng-repeat="message in detail.messages"
            class="md-3-line">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text">
              <h3>{{message.user.name}} {{message.date | date: 'hh:mm:ss dd/MM/yyyy'}}</h3>
              <p>{{message.text}}</p>
            </div>
          </md-list-item>
        </md-list>
        <form ng-submit="detail.sendMessage(message)">
          <md-input-container class="md-block">
            <label>Message</label>
            <input ng-model="detail.message">
          </md-input-container>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>