<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a ui-sref="main">
              <img src="assets/images/logo.png" alt="logo" class="logo">
            </a>

            <md-button ng-show="nav.isAdmin()" ui-sref-active="active" ui-sref="admin">
                Admin
            </md-button>
            <span flex></span>

            <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="signup">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Регистрация
            </md-button>
            <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Вход
            </md-button>
              
            <md-button class="user-name" ng-show="nav.isLoggedIn()" ui-sref-active="active" ui-sref="me">
                <md-icon class="material-icons">account_circle</md-icon>
                <span ng-show="nav.isLoggedIn()" class="md-body-1">
                {{ nav.getCurrentUser().name }}
                </span>
                
            </md-button>
            <md-button ng-show="nav.isLoggedIn()" ui-sref="logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Выход
            </md-button>
        </div>
    </md-toolbar>
</md-content>
