<md-list-item 
                ng-repeat="createdEvent in events.eventsList.created_events | orderBy: 'date_start'"
                ui-sref="main.event({id: createdEvent._id})" 
                class="md-3-line md-whiteframe-1dp">
          		<img src="http://www.fillmurray.com/40/40" class="md-avatar" alt="img">
                <div class="md-list-item-text" layout="column">
                  <h4>{{createdEvent.name}}</h4>
                  <p>{{createdEvent.eventType.name}}</p>
                  <p>{{createdEvent.date_start | date: "dd-MM-yyyy"}}</p>
                  <span></span>
                </div>  
              <div class="md-secondary" layout="column">
                <div class="cursor-default" layout="row" layout-align="center center">
                  <span>{{createdEvent.users.length}}</span> &nbsp;&nbsp;
                  <md-icon class="material-icons">help</md-icon>
                  <md-tooltip md-direction="left">
                    Потенциальные участники
                  </md-tooltip>
                </div>
                <div class="cursor-default" layout="row" layout-align="center center">
                  <span>{{createdEvent.confirm_users.length}} </span> &nbsp;&nbsp;
                  <md-icon class="material-icons">check_circle</md-icon>
                  <md-tooltip md-direction="left">
                    Подтвержденные участники
                  </md-tooltip>
                </div>
              </div>
          	</md-list-item>