
.angular-google-map{
  flex-grow: 1;
  display: flex;
  .angular-google-map-container {
    flex-grow: 1
  }
}

.md-toolbar-tools{
	&>a:not(:first-child){
		display: flex;
		md-icon,
		i{
			margin-right: 5px;
		}
	}
}