<div layout="row" layout-xs="column-reverse" flex="100" id="modal_parent">
  <md-content flex="100" flex-gt-xs="35">
      <md-toolbar md-scroll-shrink>
          <div class="md-toolbar-tools">
              <h3>
                  <span>Поиск событий</span>
              </h3>
          </div>
      </md-toolbar>
      <md-content layout-padding>
          <form layout="column" ng-submit="main.findEvents()">
              <div>
                  <md-input-container class="md-block">
                      <label>Название</label>
                      <input ng-model="main.event.name" type="text">
                  </md-input-container>
              </div>
              <div>
                  <md-input-container class="md-block">
                      <label>Тип события</label>
                      <md-select ng-model="main.event.eventType">
                          <md-option ng-repeat="type in main.types" value="{{type._id}}">{{type.name}}</md-option>
                      </md-select>
                  </md-input-container>
              </div>
              <div>
                  <md-autocomplete
                          md-selected-item="main.selectedItem"
                          md-search-text-change="main.searchTextChange(main.searchText)"
                          md-search-text="main.searchText"
                          md-selected-item-change="main.selectedItemChange(item)"
                          md-items="item in main.resultsSearch"
                          md-item-text="item.formatted_address"
                          md-min-length="0"
                          placeholder="Введите место"
                          md-menu-class="autocomplete-custom-template">
                      <md-item-template>
                          <span class="item-title">
                            <span> {{item.formatted_address}} </span>
                          </span>
                      </md-item-template>
                  </md-autocomplete>
              </div>
              <div layout="row" layout-align="center">
                  <md-input-container>
                      <md-button class="md-primary md-raised" type="submit">Найти события</md-button>
                  </md-input-container>
              </div>
          </form>
      </md-content>
  </md-content>
  <div flex="100" layout="column" flex-gt-xs="65" ng-if="main.displayed">
    <ui-gmap-google-map center='main.map.center'
                        zoom='main.map.zoom'
                        flex="100"
                        layout="column" refresh="true"
                        options="main.options">

        <ui-gmap-markers models="main.events"
                         coords="'self'"
                         events='main.markerEvents'
                         idkey="'_id'">
            <ui-gmap-windows close="false">
              <div ng-non-bindable class="info_window">
                <div class="marker_info_window">
                  <div class="img">
                    <img src="http://placehold.it/50x50" alt="">
                  </div>
                  <div class="marker_info">
                    <div>{{name}}</div>
                    <div>{{date_start | date: "yyyy-MM-dd"}}</div>
                    <div>{{user.name}}</div>
                  </div>
                </div>
              </div>
            </ui-gmap-windows>
        </ui-gmap-markers>

    </ui-gmap-google-map>
  </div>
  <div>
    <div ui-view=""></div>
  </div>
  <md-button ui-sref="new_event" class="md-accent md-fab md-fab-bottom-right create-main">
    <md-icon class="material-icons">create</md-icon>
  </md-button>
</div>
