<div layout="row">
    <md-content flex="100">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Список пользователей</h1>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="user in users.users">
                    <img ng-src="http://www.fillmurray.com/100/100" class="md-avatar" alt="ava" />
                    <div class="md-list-item-text">
                        <strong>{{user.name}}</strong><br>
                        <span class="text-muted">{{user.email}}</span>
                    </div>
                    <md-button class="md-icon-button md-secondary" ng-click="users.delete(user)">
                        <md-icon class="material-icons">delete</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</div>