ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.user-container{
	padding-top: 15px;
	padding-bottom: 15px;
}

.user-profile-nav{
	padding-top: 15px;

	md-list{

		.md-button{
			margin: 0;
			padding: 0;
		}

		md-list-item{
			
			&.active{
				&>a{
					background-color: rgba(158,158,158,0.2);
				}
			}

			md-icon{
				margin: 0 15px 0 15px !important;
			}
		}
	}

	ul{
		li{
			a{
				cursor: pointer;
				padding: 8px;
				transition: linear .2s all;
				display: flex;
				align-items: center;

				.material-icons{
					margin: 0 15px 0 0;
					font-size: 23px;
				}

				&:hover{
					background-color: #e7e7e7;
				}
			}
		}
	}
}