<md-content class="user-profile-container" layout="row" flex="100">
	<div class="user-profile" flex="100" layout="row">
		<div class="user-profile-nav" flex="15">
			<md-list>
				<md-list-item ui-sref="me" ui-sref-active="active">
					<md-icon class="material-icons">home</md-icon>
					<span>Профиль</span>
				</md-list-item>
				<md-list-item ui-sref="myEvents" ui-sref-active="active">
					<md-icon class="material-icons">assignment</md-icon>
					<span>Мои события</span>
				</md-list-item>
				<md-list-item ui-sref="new_event" ui-sref-active="active">
					<md-icon class="material-icons">create</md-icon>
					<span>Создать событие</span>
				</md-list-item>
				<md-list-item ui-sref="main" ui-sref-active="active">
					<md-icon class="material-icons">search</md-icon>
					<span>Найти событие</span>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item ui-sref="settings" ui-sref-active="active">
					<md-icon class="material-icons">settings</md-icon>
					<span>Настройки</span>
				</md-list-item>
			</md-list>
		</div>
		<div ui-view="" flex-offset="5" flex="70"></div>
	</div>
</md-content>
<md-button ui-sref="new_event" class="md-accent md-fab md-fab-bottom-right create-main">
   <md-icon class="material-icons">create</md-icon>
 </md-button>
