<md-sidenav  class="md-sidenav-right md-whiteframe-z2 event-card" md-is-open="event.isOpened" md-component-id="right">
    <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h1 class="">{{event.data.eventType.name}}</h1>
      <span flex></span>
      <md-button ng-click="event.closeSideNav()" class="md-icon-button">
          <md-icon class="material-icons">close</md-icon>
       </md-button>
    </div>
    </md-toolbar>
      <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Информация">
        <md-card>
          <div class="event-pre-welcome">
            <img ng-src="http://www.fillmurray.com/400/200" class="md-card-image" alt="Washed Out">
            <div class="event-buttons">
              <md-fab-speed-dial ng-hide="event.hidden" md-direction="left" md-open="event.isOpen"
                       class="md-scale" ng-class="{ 'md-hover-full': event.hover }"
                       ng-mouseenter="event.isOpen=true" ng-mouseleave="event.isOpen=false">
                  <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                      <md-tooltip md-direction="top" md-visible="tooltipVisible">Поделиться</md-tooltip>
                      <md-icon class="material-icons" aria-label="menu">share</md-icon>
                    </md-button>
                  </md-fab-trigger>
                  <md-fab-actions>
                    <div ng-repeat="item in event.items">
                      <md-button aria-label="{{item.name}}" class="md-fab md-icon-button md-raised md-mini">
                        <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible"
                                    md-autohide="false">
                          {{item.name}}
                        </md-tooltip>
                        <md-icon class="{{item.icon}}" aria-label="{{item.name}}" style="margin-top: -5px;"></md-icon>
                      </md-button>
                    </div>
                  </md-fab-actions>
                </md-fab-speed-dial>
               <md-button class="md-fab md-button md-primary"
                          aria-label="Use Android"
                          style="margin-left: 10px;"
                          ng-click="event.joinToEvent()">
                <md-icon class="material-icons">add</md-icon>
              </md-button>
            </div>
          </div>
          <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{event.data.name}}</span>
                <span class="md-subhead">{{event.data.formatted_address}}</span>
                <div>
                  <span class="md-subhead">{{event.data.date_start | date: 'dd-MM-yyyy'}}</span> -
                   <span class="md-subhead">{{event.data.date_end | date: 'dd-MM-yyyy'}}</span>
                </div>
              </md-card-title-text>
            </md-card-title>
          <md-card-content>
            <p>{{event.data.info}}</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-list-item class="md-3-line">
              <a href="">
                <img ng-src="{{event.imgSrc}}" class="md-avatar" alt="">
                <div class="md-list-item-text">
                  <h3>Инициатор события</h3>
                  <h4>{{event.data.user.name}}</h4>
                </div>
              </a>
            </md-list-item>
          </md-card-actions>
        </md-card>
      </md-tab>
      <md-tab label="Потенциальные участники">
        <md-content class="">
          <md-list ng-cloak>
            <md-list-item class="md-3-line">
              <a href="">
                <img ng-src="{{event.imgSrc}}" class="md-avatar" alt="">
                <div class="md-list-item-text">
                  <p>{{event.data.user.name}}</p>
                </div>
              </a>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line" ng-repeat="item in event.users">
              <a href="">
                <img alt="{{ item.user.name }}"
                     ng-if="item.user.provider == 'google'"
                     ng-src="{{ item.user.google.image.url }}" class="md-avatar" />
                <img alt="{{ item.user.name }}"
                     ng-src="https://graph.facebook.com/{{item.user.facebook.id}}/picture?height=100"
                     class="md-avatar"
                     ng-if="item.user.provider == 'facebook'" />
                 <img alt="{{ item.user.name }}"
                     ng-if="item.user.provider == 'twitter'"
                     ng-src="{{ item.user.twitter.profile_image_url_https; }}" class="md-avatar" />

                <div class="md-list-item-text">
                  <p>{{ item.user.name }}</p>
                </div>
              </a>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
    </md-content>
</md-sidenav>
