<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>Событие "{{response.name}}" успешно создано</h4>
        <p>Создать еще одно событие?</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="okey('new_event')" class="md-raised md-primary md-button md-ink-ripple">
       Да
      </md-button>
      <span flex></span>
      <md-button ng-click="okey('main')" class="md-raised md-warn md-button md-ink-ripple" style="margin-right: 10px;">
        На главную
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
