<div layout="row" layout-xs="column-reverse" flex="100">
    <md-content flex="100" flex-gt-xs="35">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Создание события</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <form layout="column" ng-submit="create.createEvent()">
                <div>
                    <md-input-container class="md-block">
                        <label>Название</label>
                        <input ng-model="create.event.name" type="text" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Тип события</label>
                        <md-select ng-model="create.event.eventType" required>
                            <md-option ng-repeat="type in create.types" value="{{type._id}}">{{type.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-autocomplete
                            md-selected-item="create.selectedItem"
                            md-search-text-change="create.searchTextChange(create.searchText)"
                            md-search-text="create.searchText"
                            md-selected-item-change="create.selectedItemChange(item)"
                            md-items="item in create.resultsSearch"
                            md-item-text="item.formatted_address"
                            md-min-length="0"
                            placeholder="Введите место"
                            md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                          <span class="item-title">
                            <span> {{item.formatted_address}} </span>
                          </span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Описание</label>
                        <textarea ng-model="create.event.info" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div>
                    <md-datepicker ng-model="create.event.date_start"
                                   md-placeholder="Дата начала">

                    </md-datepicker>
                    <md-datepicker ng-model="create.event.date_end"
                                   md-placeholder="Дата конца">

                    </md-datepicker>
                </div>
                <div layout="row" layout-align="center">
                    <md-input-container>
                        <md-button class="md-primary md-raised" type="submit" id="create_event">Создать событие</md-button>
                    </md-input-container>
                </div>
            </form>
        </md-content>
    </md-content>
    <div flex="100" layout="column" flex-gt-xs="65" ng-if="create.displayed">
        <ui-gmap-google-map center='create.map.center'
                            zoom='create.map.zoom'
                            flex="100"
                            layout="column">
            <ui-gmap-marker coords='create.marker.coords'
                            options="create.marker.options"
                            events="create.marker.events"
                            idkey="create.marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>
